/*Most of the positioning is done in percentages, and viewp. only because I worked on 2 devices, and I wanted it to look the same on all resolutions.*/
body{
  margin:0;
  padding: 0;
  background-image: url(pics/keyboard.jpg)
  ;
  background-position-y: 60% ;
  background-repeat: no-repeat;
  background-size: cover;
}
.button1 {
  position: absolute; 
  top: 10px;
  right: 20px;
  font-weight: bold;
  color: white;
  border: none;
  background-color:#8C181B;
  text-align: center;
  border-radius: 15px;
  height: 50px;
  width: 100px;
}
/*Added hover option just for aesthetics*/
.button1:hover{
  background-color: #5f0d0f ;
}
.button2 {
  position: absolute; 
  top: 10px;
  right: 160px;
  font-weight: bold;
  color: white;
  border: none;
  background-color:#8C181B;
  text-align: center;
  border-radius: 15px;
  height: 50px;
  width: 100px;
}
/*Added hover option just for aesthetics*/
.button2:hover{
  background-color: #5f0d0f ;
}
.search{
  position: absolute;
  top: 20px;
  left: 16%;
  right: 16%;
  height: 30px;
}
/*not in div for better positioning (most simmilar to example pic.)*/
#h1first{
  position: absolute;
  top: 28%;
  left: 20%;
  font-size: 46px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
/*not in div for better positioning (most simmilar to example pic.)*/
#pfirst{
  position: absolute;
  top: 36%;
  left: 20%;
  font-size: 24px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
/*not in div for better positioning (most simmilar to example pic.)*/
#imgfirst{
  position: absolute;
  top: 41%;
  left: 20%;
}
#h1second {
  text-align: center;
  text-shadow: 3px 4px 3px rgb(170, 160, 160);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  color: white;
}
.wrap{
  background-color: #1A1818;
  position: absolute;
  top: 49%;
  bottom: 80%;
  width: 100%;
  height: 50%;
}
.card{
  margin: 20px;
  float: left;
  text-align: center;
  background-color: #245a8d;
  width: 23%;
  height: 230px;
  padding: 16px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.position{
  margin-left: 15%;
}
.container{
  min-height: 150px;
}
.ctsm{
  padding: 12px;
  border: none;
  font-size: 18px;
}
#pcard{
  line-height: 4px;
  font-size: 20px;
}

footer{
  background-color: black;
  position: absolute;
  bottom: -10%;
  width: 100%;
  height: 150px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

